.page {
  &__sectionContainer {
    flex-direction: column;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scroll-behavior: smooth;

    @media screen and (max-width: 750px) {
      height: 100vh !important;
      top: 0px !important;
    }

    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    scrollbar-width: auto;
    scrollbar-color: var(--shadowColor) var(--backgroundColor);

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 15px;
    }

    &::-webkit-scrollbar-track {
      background: var(--backgroundColor);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--shadowColor);
      border-radius: 2px;
      border: 0px none var(--shadowColor);

      &:hover {
        background-color: var(--textColor);
      }
    }
  }
}

.section:not(.contact) {
  min-height: calc(100vh - 50px);
  color: var(--textColor);
}
