@keyframes borderAnimation1 {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 100px 0px;
  }
}
@keyframes borderAnimation2 {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px 100px;
  }
}

@keyframes borderAnimation {
  from {
    background-position: 0 0, -20px 0, 100% -20px, 0 100%;
  }
  to {
    background-position: 0 -20px, 0 0, 100% 0, -20px 100%;
  }
}
